@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}

@*@model ForgotPasswordViewModel*@
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>Forgot Password Page</title>

    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">
    <environment names="Development">
        <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
        <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/custom.css" rel="stylesheet" />
        <link href="~/assets/css/animate.css" rel="stylesheet" />
        <link href="~/assets/css/beyond.css" rel="stylesheet" />
        <link href="~/css/custom.css" rel="stylesheet" />
        @*<link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">*@
        <style>
            .input-group-addon {
                background-color: #fff;
            }

            .input-group .input-group-addon {
                background-image: none !important;
            }

            .loginbox-container {
                margin: 10px 37px 30px 37px;
            }

            .login-icon {
                padding-top: 16px;
            }

            .loginbox-container a {
                margin-top: 10px;
            }

            .loginbox-container button {
                margin-top: 10px;
            }

            .login-container .loginbox {
                padding-bottom: 20px;
            }

            .logo-color {
                color: #2b6ddb;
                font-weight: 600 !important;
                margin-bottom: 26px;
            }

            .loginbox-container .form-group {
                margin-bottom: 40px;
            }

            body:before {
                background-color: #eeeeee;
            }
        </style>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/assets/css/bootstrap.css" />
        <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/custom.css" rel="stylesheet" />
        <link href="~/assets/css/animate.css" rel="stylesheet" />
        <link href="~/assets/css/beyond.css" rel="stylesheet" />
        <link href="~/css/custom.css" rel="stylesheet" />
        @*<link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">*@
        <style>
            .input-group-addon {
                background-color: #fff;
            }

            .input-group .input-group-addon {
                background-image: none !important;
            }

            .loginbox-container {
                margin: 10px 37px 30px 37px;
            }

            .login-icon {
                padding-top: 16px;
            }

            .loginbox-container a {
                margin-top: 10px;
            }

            .loginbox-container button {
                margin-top: 10px;
            }

            .login-container .loginbox {
                padding-bottom: 20px;
            }

            .logo-color {
                color: #2b6ddb;
                font-weight: 600 !important;
                margin-bottom: 26px;
            }

            .loginbox-container .form-group {
                margin-bottom: 40px;
            }

            body:before {
                background-color: #eeeeee;
            }
        </style>
    </environment>

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<!--Head Ends-->

<body class="body-height">
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white">
            <img src="~/assets/img/pcr-2.png" class="img-responsive login-icon" />
            <hr>
            <h5 class="text-center logo-color" style="font-size:17px;">Forgot Password</h5>
            <p class="text-center forgotpassword-p">Enter the Email address associated with your account.</p>
           
            <form class="loginbox-container" asp-action="ForgotPassword" asp-controller="Login" method="post">               
                <div class="form-group">
                    <div class="input-group">
                        <input type="email" asp-for="UserName" id="txtUserName"  class="form-control icon-border" placeholder="Email Address">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    </div>                    
                    <div style="margin-top:10px">
                        <span asp-validation-for="UserName" id="ErrorUserName" class="asterisk"></span>
                    </div>
                </div>
                
                <input type="hidden"  asp-for="DatabaseId" class="form-control icon-border" value="@ViewBag.databaseid">
                <input type="hidden"  asp-for="PcrId"  class="form-control icon-border" value="@ViewBag.pcrid">
               <a href="Login" button type="submit"  class="login-btn pull-left">Send Request </a>
                @if (@ViewBag.databaseid != null && @ViewBag.databaseid != "" && @ViewBag.databaseid != "undefined")
                {
                    <a href="/Login/Login?databaseid=@ViewBag.databaseid&pcrid=@ViewBag.pcrid" class="pull-right">Back to Login</a>
                }
                else
                {
                    <a href="/Login/Login" class="pull-right">Back to Login</a>
                }
            </form>
        </div>
    </div>
</body>
<!--Body Ends-->

    <script src="~/assets/js/bootstrap.js"></script>
    @*<script src="~/assets/js/beyond.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    @*<script src="~/assets/js/slimscroll/jquery.slimscroll.min.js"></script>*@
    <!--Beyond Scripts-->
    <script src="~/assets/js/bootbox/bootbox.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!--Basic Scripts-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/js/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/toastr/toastr.js"></script>
<script>
    $(document).ready(function () {
        $('#txtUserName').val('');
        if ('@TempData["Message"]' != null && '@TempData["Message"]' != "")
        {
            if ('@TempData["Message"]' == "Email you have entered is not found or invalid.")
                Notify("Email you have entered is not found or invalid.", 'top-right', '1800', 'warning', 'fa-warning', true);
            else
                SuccessMessage('@TempData["Message"]');
        }
        if ('@TempData["errorMessage"]' != null && '@TempData["errorMessage"]' != "") {
            Notify('@TempData["errorMessage"]', 'top-right', '1800', 'warning', 'fa-warning', true);
        }
    });

    function SuccessMessage(msg) {
        $('.page-sidebar').css('z-index', '0');
        $('.navbar').css('z-index', '200');
        bootbox.dialog({
            message: msg,
            title: "Success",
            className: "modal-darkorange",
            buttons: {
                success: {
                    label: "Ok",
                    className: "btn-blue pull-right",
                    callback: function () { }
                }
            }
        });
    }
</script>


<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
        asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.validator">
</script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
        asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
</script>